# dependencies
node_modules/

# build folders
dist/
build/

# env files
.env

# logs
*.log

# datasets
*.csv
*.zip
*.rar

# python
venv/
__pycache__/

# AI models
*.h5
*.pt
*.pth
*.onnx
*.pkl

# OS files
.DS_Store